<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProjetoGestaoLivraria</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ControlaAcesso</display-name>
    <servlet-name>ControlaAcesso</servlet-name>
    <servlet-class>controle.ControlaAcesso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlaAcesso</servlet-name>
    <url-pattern>/ControlaAcesso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManterUsuario</display-name>
    <servlet-name>ManterUsuario</servlet-name>
    <servlet-class>controle.ManterUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManterUsuario</servlet-name>
    <url-pattern>/ManterUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlaLivro</display-name>
    <servlet-name>ControlaLivro</servlet-name>
    <servlet-class>controle.ControlaLivro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlaLivro</servlet-name>
    <url-pattern>/ControlaLivro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManterLivro</display-name>
    <servlet-name>ManterLivro</servlet-name>
    <servlet-class>controle.ManterLivro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManterLivro</servlet-name>
    <url-pattern>/ManterLivro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlaTeste</display-name>
    <servlet-name>ControlaTeste</servlet-name>
    <servlet-class>controle.ControlaTeste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlaTeste</servlet-name>
    <url-pattern>/ControlaTeste</url-pattern>
  </servlet-mapping>
</web-app>